@import '../../../style/variables';

.navigation {
  margin-top: 20px;
}
.centered .navigation .navLink {
  padding: 10px;
  font-size: 1.25em;
  border-radius: 3px;
  border-left: 1px solid $buttonHoverBackground;
  border-right: 1px solid $buttonHoverBackground;
  margin: 10px;
  color: $color-tertiary;
}

.centered .navigation .navLink:hover{
  border-top: 1px solid $buttonHoverBackground;
  border-bottom: 1px solid $buttonHoverBackground;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}
.navLink:focus {
  outline: none;
}
