$color-primary: #808080;
$color-secondary: #B22F00;
$color-tertiary: #0097a7;
$color-accent: #ffffff;
$roboto: 'Roboto', sans-serif;
$proxima: 'Proxima_Nova', sans-serif;
$buttonHoverBackground: #ffab40;

