@import '../../../style/variables';

.centered {
  width: 100%;
  margin: 0 auto;
}

.centered .logo {
  display: block;
  padding-top: 5%;
  margin: 0 auto;
}

.centered .spacing {
  display: block;
  width: -moz-max-content;    /* Firefox/Gecko */
  /* width: -webkit-max-content;  /* Chrome */
}

Link a {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  color: $color-primary;
}
p {
  color: $color-primary;
}
