@import "../../../style/variables";

#accordion {
  width: 100%;
  max-width: 800px;
  position: relative;
}

.accordion-clickable {
  display: block;
  background: #ccc;
  border: 1px solid #888;
  padding: 5px;
}
.accordion-clickable:hover {
  cursor: pointer;
  background: $color-secondary;
}
.accordion-content {
  height: 0px;
  padding: 0px;
  overflow: hidden;
  transition: height 0.4s ease-out;
}
