@import '../../../style/variables';

body {
  font-family: $proxima, sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.ReactTable .rt-thead {
  overflow-y: scroll;
}

.rt-th:focus {
  outline: none;
}
