@import '../../../style/variables';

.ReactTable .rt-thead {
  overflow-y: scroll;
}

.ReactTable .rt-thead.-headerGroups {
  color: $color-tertiary;
  font-size: 15px;
  font-weight: bold;
}

.rt-th:focus {
  outline: none;
}
